/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	
	
	

}


/* Extra Small Devices, Phones */


/* Custom, iPhone Retina */
@media screen and (min-width : 320px) and (max-width: 1199px){
    .container{
        width: 100%;
        padding: 0 1%;
    }
    header{padding-bottom: 0;}
    .header_wrapper{
        background-color: var(--black-color);
        height: 80px;
        align-items: center;
    }
    .top_mnu .separator:nth-child(2){margin: 14px 0 18px 0;}
    .top_mnu .separator:nth-child(5){margin: 17px 0 33px 0;}
    .top_mnu .separator:nth-child(7){margin: 31px 0;}
    .top_mnu .separator:nth-child(9){margin: 24px 0 29px 0;}
    ._our_benefits_wrapper,.benefit__descr,._about_text_shop{width: 100%;}
    .__commments_item{margin-bottom: 40px;}
    .top_mnu .catalog_mnu_items_wrapper{margin-top: 31px;}
    ._top_phone_num{
        font-family: 'AvenirNextCyrBold',sans-serif;
        font-size: 18px;
        line-height: 22px;
        color: var(--breadcums-color);
    }
    footer{height:auto;}
    /* header .email_wrapp{display: none} */
    .mnu_items,.separator,.__header_contact_wrapper,
    .separator_gallery,.mnu_item_wrapp,.logo_wrapper{display: none}
    .menu_icon, .menu_icon_cross,
    .menu_icon.menu_icon_cross.is-closed, .menu_icon.menu_icon_cross.is-closed {
        display: block;
        top: 4%;
    }
    .mnu_icon{
        display: flex;
        width: 100%;
        padding-left: 3.5rem;
        justify-content: space-between;
        margin-left: 0;
    }
    .mnu_icon_wr{position: relative;}
    ._count_product{
        right: -16%;
        bottom: 45%;
    }
    button.slick-next.slick-arrow,
    button.slick-prev.slick-arrow{
        width: 0;
        height: 0;
    }
    
    .mnu_icon_wrapper{
        display:flex;
        justify-content: space-around;
    }
}




/*   index page media queries */
@media screen and (min-width : 320px) and (max-width: 767px){
    .mnu_icon{display: flex;}
    .mnu_icon_wr ._count_product:nth-child(3){
        right: -30%;
        bottom: 10%;
    }
    .top_mnu_basket_text{
        font-size: 16px;
        line-height: 20px;
        text-transform: uppercase;
    }
    ._top_mnu_wr,
    .top_mnu .number_wrapp, .top_mnu .email_descr{width: 100%;}
    header{padding: 0;}
    ._banner_info{padding-top: 41px;}
    ._banner_name{
        font-size: 40px;
        line-height: 49px;
        text-align: center;
    }
    .other_info{ height: auto;}
    .other_info_descr{
        padding-bottom: 35px;
        width: 100%;
    }
    ._article_name{
        padding-top: 50px;
        letter-spacing: 0.02em;
    }
    #categories ._article_name{padding: 64px 0 24px 0;}
    ._catalog_text_descr_wrapp{margin: 0 0 23px 0;}
    ._categories_wrap{
        display: flex;
        flex-direction: column-reverse;
    }
    .figure_new{display: none;}
    .__banner_new_product, .__banner_popular_product,.__card_product{width: 48%}
    ._popular_product_info > span strong,._popular_product_info,._info_banner_text,
    ._post_name,._new_product_info,._article_name{
        font-size: 24px;
        line-height: 29px;
    }
    ._new_product_img {
        top: -15px;
        left: -82px;
    }
    ._banner_product_text_wr, ._banner_popular_product_text_wr{
        width: 100%;
        align-items: center;
    }
    ._banner_popular_product_text_wr{
        width: 75%;
        padding-top: 173px;
    }
    ._banner_popular_product_wrapp ._banner_product_href_wr{margin-top: 36px;}
    ._new_product_info{
        padding-top: 150px;
        width: 100%;
        z-index: 1;
    }
    #__info_banner{margin-bottom: 365px;}
    ._info_banner_border{height: 624px;}
    .benefit__descr{margin: 24px 0 50px 0;}
    #__popular_posts{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    ._post_name{margin: 107px 0 37px 0;}
    .popular_posts_items_wrapper{
        width: 100%;
        align-items: center;
    }
    ._posts_text{margin-top: 25px;}
    ._posts_text_wr{width: 95%;}
    ._posts_descr{margin-bottom: 44px;}
    footer{padding-bottom: 20px;}
    .footer_info_wrapp{
        flex-wrap:wrap;
        padding-left: 8%;
    }
    .footer_logo_info, .subsribe{width: 93%}
    .footer_logo_info .logo{padding-bottom: 21px;}
    ._city_info_text{
        font-size: 16px;
        line-height: 20px;}
    ._text_subscribe{
        width: 95%;
        font-style: italic;
        font-size: 16px;
        line-height: 20px;
    }
    .mnu_icon_wrapper{
        display: flex;
        justify-content: space-around;
        width: 40.65%;
    }
    
    /*   index page media queries */

    /*   about page media queries */
    ._about_banner_info{
        width: 95%;
        height: auto;
        top: 170px;
        left: 6px;
    }
    .__about_info_wrapper{padding: 0.85rem;}
    ._our_shop{margin-top: 20px;}
    ._about_text_shop{width: 100%}
    ._other_banner_text_wrapper{width: 95%;}
    ._other_banner_text{font-size: 1.45rem;}
    
    .__method_describe_item,._method_pay_item,.__region_describe_item{
        width: 100%;
        align-items: center;
        margin-bottom: 1rem;
    }
    .__method_describe_item_wr{
        align-items: center;
        flex-direction: column;
    }
    .__method_pay_wrapper,.__method_pay_wr,._region_describe_wrapper{flex-direction: column;}
    .__describe_name_item,.__describe_name_item{justify-content: center;}
    /*   describe page media queries */
    ._partners_item_wr{width: 100%;}
    ._company_dev{
        height: 67px;
        flex-direction: column;
        justify-content: space-between;
    }
    ._section_name{
        text-align: center;
        font-size: 26px;
    }
    ._contacts_banner{
        width: 95%;
        top: 7rem;
        left: 0.4rem;
        height: auto;
        flex-direction: column;
        padding: 10px;
    }
    ._contact_info_item{width:100%}
    ._contacts_ic_email,._contacts_ic_marker{margin-bottom: 10px;}
    ._contacts_ic_phone{margin: 0 0 10px 0;}
    ._contact_info_item{margin-top: 10px;}
    ._contacts_form_wrapp{
        width: 100%;
        margin-top: 20px;
    }
    .__services_wrapper{flex-direction: column;}
    .__services_list{
        width: 91%;
        margin-left: 15px;
        flex-wrap: wrap;
    }
    ._services_items_list_more_wr{margin-left: 10px;}
    ._services_content_wr{
        width: 100%;
        align-items: center;
        text-align: center;
        margin-top: 30px;
    }
    ._services_text{
        font-size: 15px;
        line-height: 20px;
        display: flex;
        width: 96%;
        word-break: break-word;
    }
    ._services_price_name{
        font-size: 15px;
        word-wrap: break-word;
    }
    th, td {font-size: 13px;}
    ._service_suport_text{margin: 20px 0 10px 0;}
    .__item_wr{
        flex-direction: column;
        justify-content: space-between;
        height: 600px;
    }
    .__item__{width: 100%;}
    /* bench*/
    ._catalog_product_wrapper{flex-direction: column;}
    .__catalog ._new_product_wr{
        margin-left: 0;
        margin-top: 30px;
    }
    
    /* bench*/
    ._card_product_basket:hover{background: var(--green-color);}
    ._card_product_img_product_2{width: 13rem;}
    ._basket_item_product_wr{width:100%;}
}

@media screen and (min-width : 320px) and (max-width: 479px){
    
    .top_mnu .container{padding: 0 3.75% 0 7.19%}
    .top_mnu .separator{
        display: block;
        background: var(--grown-color);
    }
    .top_mnu .logo{
        font-size: 56px;
        line-height: 69px;
        margin: 14px 0;
    }
    .logo{
        font-size: 36px;
        line-height: 44px;
    }
    .top_mnu .separator,.top_mnu .__header_contact_wrapper,
    ._top_mnu_wr,.ic_phone,._top_phone_num,.top_mnu .email_wrapp{display: flex;}
    .top_mnu .__header_contact_wrapper{
        flex-direction: column;
        padding-left: 0;
    }
    .top_mnu .btn{margin: 17px 0 21px 0;}
    .top_mnu .city_info_wrapp{margin: 25px 0 19px 0;}
    .top_mnu .city_info_wrapp span{
        font-size: 16px;
        line-height: 20px;
    }
    .other_info_descr,.popular_posts_items,._post_item{flex-direction: column;}
    ._banner_popular_product_wrapp ._banner_product_href_wr{margin-left: 2.5rem;}
    ._banner_descr {margin: 37px 0;}
    ._banner_button_wrapper{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    ._banner_btn{margin-bottom: 24px;}
    ul.slick-dots{bottom: 30px;}
    ._catalog_item{width: 100%;}
    
    ._catalog_item_name_wr:nth-child(2){font-size: 16px;}
    ._catalog_item_name_wr{
        width: 9.7rem;
        top: 100%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
    }
    .other_info_item{padding-top: 26px;}
    
    ._our_benefits_wrapper,.benefit__item{
        width: 100%;
        flex-direction: column;
    }
    ._catalog_item_wrapper{justify-content: center;}
    ._catalog_text_descr{width: 100%;}
    
    .__banner_new_product, .__banner_popular_product,._partners_item_wr{width: 100%;}
    .figure{position: absolute;}
    
    .__banner_popular_product ._new_product_info_wr{margin-left: 0;}
    ._banner_popular_product_text_wr{width: 60%;}
    ._popular_product_img{
        top: -2.5%;
        left: 39%;
    }
    ._banner_product_href_wr{margin-top: 120px;}
    ._new_product_info_wr{margin-left: 20px;}
    ._new_product_wr{align-items: center;}
    .__card_product{width: 95%;}
    ._info_banner_wrapper{padding-top: 115px;}
    .__comments_wrapper{flex-direction: column;}
    .__commments_item{
        width: 100%;
        margin-bottom: 40px;
    }
    .mnu_icon{
        width: 98%;
        padding-left: 2.5rem;
        justify-content: space-between;
        margin-left: 0;
    }
    .information,.catalog,input[type="email"]{width: 100%;}
    ._basket_text_info,._basket_back_href_wr{justify-content: center;}
    ._product_item_article_name{font-size: 27px;}
    
    ._item_product_wr{width: 85%;}
    ._basket_item_product,._basket_nav_element{
        padding: 0;
        flex-direction: column;
    }
    ._item_product_count{
        margin-top: 20px;
        justify-content: space-around;
    }
    ._item_product_price:nth-child(1){margin-left: 0;}
    ._item_product_count_wr{width: 50%}
    ._item_product_count_wr:nth-child(2){margin: 0;}
    ._other_price{display: none}
    ._other_price strong{
        font-size: 20px;
        line-height: 29px;
    }
    ._item_product_price{font-size: 18px;}
    ._btn_item_product_delete{margin-left: 0;}
    ._basket_total_price_text_wr{height: auto;}
    ._basket_back_href_wr{margin-bottom: 20px;}
    ._basket_total_price{width: 100%;}
    ._total_price_text{margin-right: 0;}
    ._order_btn_wr{
        width: 100%;
        margin: 19.68% 10% 10% 10%;
    }
    ._order_btn{width: 100%;}
    
}
@media screen and (min-width : 320px) and (max-width: 449px){
    ._new_product_wr{flex-direction: column;}
    .__catalog .__card_product{width: 100%;}
    
}
@media screen and (min-width : 320px) and (max-width: 400px){
    
}
@media screen and (min-width : 320px) and (max-width: 991px){
    .mnu_icon_ver_wr,.mnu_icon_ver_wr .email_wrapp,
    .mnu_icon_ver_wr .mnu_icon_number,.mnu_icon_number{display: none;}
    
}

@media screen and (min-width : 450px) and (max-width: 479px){
    .__catalog ._new_product_wr{width: 100%}
    ._card_product_img_product_2{width: 12rem;}
}
@media screen and (min-width : 450px) and (max-width: 730px){
    .__catalog .__card_product{width: 48%;}
    
}

/*==========  Mobile First Method  ==========*/
@media screen and (min-width : 480px) and (max-width: 639px){
	._banner_button_wrapper{
        width: 86%;
        align-items: center;
    }
    ._banner_btn{width: 54.79%;}
    ._banner_btn_categ{width: 39.98%;}
    ul.slick-dots{bottom: 10px;}
    .other_info_item{
        width: 100%;
        padding-top: 26px;
    }
    ._catalog_item_name{font-size: 15px;}
    .catalog_item_img,._catalog_text_descr,._catalog_item_name,
    ._banner_new_product_wrapp{
        width: 100%;
        background-size: cover;
    }
    ._catalog_item{width: 48%;}
    .__banner_new_product, .__banner_popular_product{width: 48%;}
    .figure{
        position: absolute;
        top: -150px;
        left: -10px;
    }
    .__banner_popular_product ._new_product_info_wr{margin-left: 0;}
    ._popular_product_img{
        top: -2%;
        left: 5%;
    }
    ._banner_separator_href{width: 55px;}
    ._banner_product_href_wr{
        width: 90%;
        margin-top: 120px;
    }
    ._new_product_info{
        font-size: 24px;
        line-height: 24px;
    }
    ._new_product_info > span strong, ._popular_product_info > span strong{
        font-size: 21px;
        line-height: 21px;
    }
    ._new_product_info_wr{margin-left: 10px;}
    ._new_product_wr{
        flex-direction: none;
        align-items: center;
    }
    .popular_posts_items,._post_item{flex-direction: column;}
    ._info_banner_border_wrapper{padding-top: 10px;}
    
    ._banner_popular_product_text_wr{padding-left: 10px;}
    ._banner_popular_product_wrapp ._banner_product_href_wr,
    ._banner_popular_product_text_wr{width: 100%;}
    ._popular_product_info{
        font-size: 20px;
        padding-top: 55px;
    }
    ._banner_popular_product_wrapp ._banner_product_href_wr{justify-content: space-around;}
    .__commments_item,._partners_item_wr{width: 48%;}
    ._name_article{padding-bottom: 16px;}
    input[type="email"]{
        width: 55%;
        margin: 0;
    }
    .subsribe{
        flex-wrap: wrap;
        flex-direction: none;
    }
    ._footer_input_wr{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px 0;
    }
    ._company_dev{margin-top: 0px;}
    .mnu_icon_wrapper{width: 30.65%;}
    ._item_product_img_wr{width: 40%;}
    ._basket_back_href_wr{
        height: 40px;
        align-items: flex-start;
    }
}
@media screen and (min-width : 434px) and (max-width: 479px){
	._info_banner_border{height: 500px;}
	
}
@media screen and (min-width : 480px) and (max-width: 749px){
    ._info_banner_border{height: 434px;}
    #__info_banner{margin-bottom: 0;}
	._banner_name{padding-top: 89px;}
    ._banner_descr{font-size: 18px;}
    ._basket_item_product{
        padding: 0;
        flex-wrap: wrap;
    }
    ._item_product_count{margin-top: 3%;}
    ._item_product_count{padding: 0 2%;}
    ._basket_item_product_wr,._item_product_count{width: 100%;}
    ._item_product_count{justify-content: space-between;}
    ._item_product_count_wr:nth-child(2){
        width: 40%;
        margin: 0 3%;
    }
    ._btn_item_product_delete{margin-left: 2%;}
    ._basket_total_price_text_wr{height: auto;}
    ._basket_nav_element{margin-top: 5%;}
    
    ._basket_total_price{width: 100%}
    ._total_price_text{margin-right: 0;}
    ._order_btn_wr{margin: 5% 10%;}
    ._order_btn_wr{margin: 10% 0;}
    ._other_price:nth-child(1){font-size: 22px;}
    ._btn_item_product_delete:nth-child(2n+1){margin-left: 5%;}
}

@media screen and (min-width : 480px) and (max-width: 533px){
	._card_product_img_product_2{width: 11.5rem;}
	
}

@media screen and (min-width : 480px) and (max-width: 991px){
	.mnu_icon_number,.mnu_icon_address,header .city_info_wrapp{display: none}
	
}
@media screen and (min-width : 480px) and (max-width: 1199px){
    .benefit__item{width: 32%;}
    .benefit__img_1, .benefit__img_2, .benefit__img_3{
        width: 100%;
        background-size: cover;
    }
    ._banner_name{
        font-size: 48px;
        line-height: 59px;
    }
    .information,.catalog{width: 48%;}
    .mnu_items,.separator,.__header_contact_wrapper,
    .separator_gallery,.mnu_item_wrapp,.logo_wrapper{display: none}
    

}


/* Extra Small Devices, Phones */

@media screen and (min-width : 640px) and (max-width: 767px){
    ._catalog_item{width: 31%;}
    .catalog_item_img,._catalog_text_descr,.other_info_descr{width: 100%;}
    ._catalog_item span._catalog_item_name:nth-child(9){font-size: 17px;}
    .other_info_descr{flex-direction: none;}
    ._post_item{flex-direction: column;}
    ._partners_item_wr{width: 31%;}
    ._popular_product_img{
        top: -4%;
        left: 47%;
    }
    ._company_dev{margin-top: 5%;}
    
}
@media screen and (min-width : 640px) and (max-width: 992px){
    .footer_logo_info,.information,.subsribe{width: 48%}
    .information{padding-top: 3%;}
    .information .footer_mnu_item_wrapp{padding-top: 15px;}
    input[type="email"]{width: 89%;}
    .mnu_icon_wrapper{width: 22.2%;}
    ._item_product_img_wr,._basket_total_price{width: 50%;}
    ._basket_total_price{width: 50%;}
    ._basket_item_product{padding: 0 1% 0 0;}
    ._item_product_count_wr:nth-child(2){
        width: 40%;
        margin: 0 0 0 0;
        padding: 0 15px;
    }
    ._item_product_count{
        width: 100%;
        justify-content: space-between;
    }
    ._item_product_price:nth-child(1){margin-left: 2%;}
    
    ._btn_item_product_delete{margin-left: 2.5%;}
    ._btn_item_product_delete:nth-child(1){width: 30px;}
    ._other_price:nth-child(3){
        margin-left: 2%;
        font-size: 20px;
    }
}
@media screen and (min-width : 640px) and (max-width: 1199px){
    
    ._item_product_count_wr:nth-child(2){
        width: 40%;
        margin: 0 0 0 0;
        padding: 0 15px;
    }
    ._item_product_count{
        width: 100%;
        justify-content: space-between;
    }
    ._item_product_price:nth-child(1){margin-left: 2%;}
    
    ._btn_item_product_delete{margin-left: 2.5%;}
    ._btn_item_product_delete:nth-child(1){width: 30px;}
    ._other_price:nth-child(3){
        margin-left: 2%;
        font-size: 20px;
    }
    ._order_btn_wr{margin: 10%;}
}
@media screen and (min-width : 666px) and (max-width: 767px) {
	

}
@media screen and (min-width : 666px) and (max-width: 767px) {
	

}

@media screen and (min-width : 731px) and (max-width: 767px) {
    ._card_product_img_product_2{width: 12rem}
}
@media screen and (min-width : 749px) and (max-width: 991px) {
	._info_banner_border{
        height: 434px;
        margin-bottom: 200px;
    }
    #__info_banner{margin-bottom: 0;}
    ._banner_name{padding-top: 204px;}
    ._banner_info{padding-top: 0;}
    ._basket_total_price_text_wr{height: auto;}
    
}

/* Small Devices, Tablets */
@media screen and (min-width : 768px) and (max-width: 991px) {
    .__card_product{width: 32%;}
    ._card_product_img_product_2{width: 12rem;}
    ._partners_item_wr{width: 24%;}
    ._popular_product_img{
        top: 0;
        left: 43%;
    }
    .figure_new{z-index: -1;}
    ._card_product_img_product_2{width: 13rem;}
    
    ._contacts_banner{
        width: 90%;
        top: 14%;
        left: 5%;
    }
    ._contact_info_form_wr{
        display: flex;
        justify-content: space-around;
    }
    #map{width: 48%;}
    input[type="text"],textarea,._text_subscribe{width: 95%;}
    .__catalog ._new_product_wr{margin-left: 10px;}
    .__catalog .__card_product{width: 48%;}
    ._card_product_img_product_2{width: 12rem;}
    .footer_logo_info{width: 35%}
    .information, .catalog,.subsribe{
        width: 20%;
        padding-top: 3%;
    }
    .subsribe{width: 22%}
    ._company_dev,.footer_logo_company{
        flex-wrap: wrap;
        margin-top: 10%;
    }
    footer{
        height: auto;
        padding-bottom: 20px;
    }
    
}
@media screen and (min-width : 865px) and (max-width: 991px){
    ._card_product_img_product_2{width: 13rem;}
}
@media screen and (min-width : 819px) and (max-width: 1200px){
    ._info_banner_border{
        height: 365px;
        margin-bottom: 200px;
    }
}
@media screen and (min-width : 992px) and (max-width: 1051px){
    .__catalog .__card_product{width: 32%;}
    ._card_product_img_product_2{width: 11.5rem;}
    

}
@media screen and (min-width : 992px) and (max-width: 1199px){
    .__catalog .__card_product{width: 32%;}
    ._card_product_img_product_2{width: 13rem;}
    ._text_subscribe,input[type="email"]{width: 95%;}
    .footer_logo_info, .subsribe{width: 60%;}
    ._company_dev{
        width: 95%;
        margin-top: 5%;
    }
    ._company_dev_text{margin-right: 0;}
    .mnu_icon,.mnu{align-items: center;}
    .mnu_icon,.mnu,.mnu_icon_ver_wr{ height: 56px;}
    .mnu_icon .email_wrapp,.mnu_icon_ver_wr{display: flex;}
    .mnu_icon_ver_wr{
        flex-direction: column;
        justify-content: space-around;
        margin: 0 26px 0 29px;
    }
    .mnu_icon_wrapper{
        width: 35%;
        justify-content: space-between;
    }
    .mnu_icon_number{
        font-size: 18px;
        line-height: 22px;
        font-family: 'AvenirNextCyrBold',sans-serif;
    }
    .mnu_icon_wr a.icon-phone{color: var(--green-color);}
    .email_descr,.mnu_icon_address,.mnu_icon_number{color: var(--white-color);}
}
/* Medium Devices, Desktops */
@media screen and (min-width : 749px) and (max-width: 1199px){
    ._catalog_item{width: 24%;}
}


 /* Large Devices, Wide Screens */
@media screen  and (min-width : 1200px) and (max-width: 1400px){
	
}