@import '~normalize.css'; 
@import './fonts.css';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{overflow-x: hidden;}
:root{
    --yellow-color: #DADE55;
    --white-color: #ffffff;
    --black-color: #2B2B2B;
    --green-color: #80A05D;
    --separ-color: #E5E5E5;
    --banner-border-color:#F1F1F1;
    --grown-color: #c4c4c4;
    --breadcums-color: #595757;
    --descr-color: #525252;
    --comment-author-color: #171F21;
    --input-color: #F9F9F9;
}
li,a{
    text-decoration: none;
    list-style-type: none;
}
.container{width: 1176px;}
.center{
    display: flex;
    justify-content: center;
}
.actived{color: var(--green-color)};
header{
    display: flex;
    padding-bottom: 27px;
    
}
.header_wrapper{
    display: flex;
    width: 100%;
    justify-content: center;
    height: 219px;
}
.mnu{
    display: flex;
    width: 100%;
    height: 44px;
    background-color: var(--black-color);
    justify-content: center;
}
.mnu_item_wrapp{
    display: flex;
    width: 100%;
    height: 44px;
    align-items: center;
    justify-content: space-between;
}
a.mnu_item{
    color: var(--white-color);
    font-family: Avenir Next Cyr;
    font-style: normal;
    font-weight: 450;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
}
ul>li>a.mnu_item:hover{color: var(--yellow-color);}
.logo_wrapper{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px 0 14px 0;
    align-items: center;
}
.logo{
    font-family: Avenir Next Cyr;
    font-style: normal;
    font-weight: 750;
    font-size: 56px;
    line-height: 69px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: var(--green-color);
}
.btn{
    display: flex;
    width: 151px;
    height: 38px;
    background-color: var(--green-color);
    color: var(--white-color);
    justify-content: center;
    align-items: center;
    border: none;
}
.separator{
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--separ-color);
    margin-bottom: 40px;
}
.items_wrapper,.mnu_items{
    display: flex;
    width: 100%;
}
.mnu_items_wrapper{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
a.item_product{
    font-family: Avenir Next Cyr;
    font-style: normal;
    font-weight: 450;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: var(--black-color);
}
a.item_product:hover{color: var(--green-color);}
#banner{
    color: var(--white-color);
    width: 100%;
}
.banner_wrapper{
    display: flex;
    width: 100%;
    height: 642px;
    background: url(../img/banner.jpg)no-repeat center center;
}
._banner_info{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding-top: 248px;
}
._banner_name{
    font-family: Avenir Next Cyr;
    font-style: normal;
    font-weight: 750;
    font-size: 56px;
    line-height: 69px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}
._banner_descr{
    font-family: Avenir Next Cyr;
    font-style: normal;
    font-weight: 750;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin: 75px 0 70px 0;
}
._banner_button_wrapper{
    display: flex;
    width: 391px;
    justify-content: space-between;
}
.slick-prev, .slick-next {
    
}
.slick-dots{bottom: 15px;}
.slick-dots li button{
    width: 10px;
    height: 10px;
    background-color: var(--white-color);
    border-radius: 50%;
}
.slick-dots li.slick-active button:before{
    background-color: var(--white-color);
    color: transparent;
}

._banner_btn,._banner_btn_categ{
    display: flex;
    width: 215px;
    height: 38px;
    align-items: center;
    justify-content: center;
    font-family: Avenir Next Cyr;
    font-style: normal;
    font-weight: 450;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: var(--white-color);
    background-color: var(--black-color);
}
._banner_btn_categ{width: 158px;}
._banner_btn:hover,._banner_btn_categ:hover{
    background-color: var(--yellow-color);
    color: var(--black-color);
    transition: .5s linear;
}

/* section new product style */
#new_product{
    display: flex;
    background-color: var(--banner-border-color);
    padding-bottom: 68px;
}
._new_product_wrapper{
    display: flex;
    flex-direction: column;
}
._new_product_wr{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.__banner_new_product,.__banner_popular_product{
    display: flex;
    width: 50%;
    overflow: hidden;
    margin-bottom: 32px;
}
._article_name{
    font-family: Avenir Next Cyr;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: var(--breadcums-color);
    padding: 72px 0 56px 0;
}
._banner_new_product_wrapp,._banner_popular_product_wrapp{
    display: flex;
    width: 100%;
    height: 460px;
    background-color: var(--yellow-color);
    position: relative;
    justify-content: space-between;
}
._banner_popular_product_wrapp{background-color: var(--banner-border-color);}
._new_product_info_wr{display: flex;}
._new_product_info,._popular_product_info{
    display: flex;
    font-family: Avenir Next Cyr;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 39px;
    color: var(--white-color);
}
._popular_product_info{color: var(--black-color);}
._new_product_info > span strong,._popular_product_info > span strong{
    font-family: Avenir Next Cyr;
    font-style: normal;
    font-weight: 750;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: var(--green-color);
}
.figure,.figure_new{
    display: flex;
    width: 189px;
    height: 385px;
    background: url(../img/figure_1.png)center center no-repeat;
}
.figure_new{
    position: absolute;
    transform: rotate(90deg);
    top: -98px;
    right: 21px;
}
._new_product_img,._popular_product_img{
    display: flex;
    width: 343px;
    height: 257px;
    background: url(../img/12.png)center center no-repeat;
    position: absolute;
    z-index: 2;
    top: 103px;
    left: -55px;
}
._popular_product_img{
    top: 60px;
    left: 308px;
}
._banner_product_text_wr,._banner_popular_product_text_wr{
    display: flex;
    width: 62%;
    padding-top: 92px;
    flex-direction: column;
}
._banner_popular_product_text_wr{padding-left: 40px;}
._banner_product_href_wr{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 230px;
    margin-top: 57px;
}
._banner_separator_href{
    display: flex;
    width: 65px;
    height: 2px;
    background-color: var(--green-color);
}
._banner_product_href,._banner_p_product_href{
    font-family: Avenir Next Cyr;
    font-style: normal;
    font-weight: 750;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: var(--white-color);    
}
._banner_p_product_href{color: var(--black-color);}
._banner_product_href:hover,._banner_p_product_href:hover{
    transition: 0.3s all ease-in-out;
    color: var(--green-color);
}
._new_product_info{
    display: flex;
    width: 100%;
    height: 195px;
}

.__card_product{
    display: flex;
    width: 24%;
    height: 460px;
    background-color: var(--white-color);
    position: relative;
    margin-bottom: 32px;
}
._card_product_wrap{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
._card_product_icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: var(--yellow-color);
    border-radius: 50%;
    font-family: Avenir Next Cyr;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.02em;
    color: var(--white-color);
    position: absolute;
    top: 16px;
    right: 16px;
}
._card_product_img_product_1{
    display: flex;
    width: 92px;
    height: 250px;
    background: url(../img/10.jpg)center center no-repeat;
    margin-top: 25px;
}
._card_product_img_product_2{
    display: flex;
    width: 252px;
    height: 218px;
    background: url(../img/11.jpg)center center no-repeat;
    margin-top: 44px;
}

._card_product_basket{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background: transparent;
    color: var(--descr-color);
    font-family: Avenir Next Cyr;
    font-style: normal;
    font-weight: 750;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}
._card_product_basket:hover{
    background-color: var(--green-color);
    transition: 0.3s all ease-in-out;
    color: var(--white-color);
}
._card_produvct_name{
    font-family: Avenir Next Cyr;
    font-style: normal;
    font-weight: 750;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--breadcums-color);
    margin: 22px 0 24px 0;
}
._card_product_price{
    font-family: Avenir Next Cyr;
    font-style: normal;
    font-weight: 750;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--grown-color);
    margin: 0 0 32px 0;
}

/* section new product style */

/* section info banner style */
#__info_banner{flex-direction: column;}
._info_banner_wrapper{
    display: flex;
    width: 100%;
    height: 450px;
    background: url(../img/border_bg.jpg)center center no-repeat;
    justify-content: center;
    padding-top: 139px;
}
._info_banner_wr{
    display: flex;
    text-align: center;
}
._info_banner_text{
    font-family: Avenir Next Cyr;
    font-style: italic;
    font-weight: normal;
    font-size: 40px;
    line-height: 49px;
    color: var(--white-color);
}
._info_banner_border{
    display: flex;
    width: 100%;
    height: 336px;
    background-color: var(--green-color);
    position: relative;
    margin-bottom: 301px;
}
._info_banner_border_wrapper{
    display: flex;
    padding-top: 68px;
    flex-direction: column;
    color: var(--white-color);
    
}
._info_border_name{
    font-family: Avenir Next Cyr;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}
._info_border_descr{
    font-family: Avenir Next Cyr;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    margin-top: 24px;
}
.figure_2{
    display: flex;
    width: 1029px;
    height: 232px;
    background: url(../img/figure_2.png)center center no-repeat;
    position: absolute;
    bottom: -210px;
    left: 125px;
    z-index: -1;
}

/* section info banner style */

footer{
    display: flex;
    width: 100%;
    height: 398px;
    background-color: var(--black-color);
    padding-top: 28px;
    color: var(--white-color);
}
.footer_wrapper{
    display: flex;
    width: 100%;
    justify-content: center;
}
.footer_info_wrapp{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.footer_logo_info{
    display: flex;
    flex-direction: column;
    width: 25%;
}
.footer_logo_info .logo{
    display: flex;
    padding-bottom: 28px;   
}
.email_wrapp,.city_info_wrapp,.phone_wrapp{
    display: flex;
    padding-bottom: 33px;
}
.ic_email,.ic_address,.ic_phone{
    background: url(../img/icons/email.svg)no-repeat;
    width: 20px;
    height: 20px;
    padding-right: 12px;
}
.email_descr{
    font-family: Avenir Next Cyr;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}
.ic_address{background: url(../img/icons/map.svg)no-repeat;}
.ic_phone{background: url(../img/icons/phone.svg)no-repeat;
}
.number_wrapp{
    display: flex;
    width: 100%;
    flex-direction: column;
    font-family: Avenir Next Cyr;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
}
.social_icons,.breadcrums_wrapper{
    display: flex;
}
.social_icons>a{
    background: url(../img/icons/Group.svg)no-repeat;
    transition: all 0.2s ease-out;
    width: 32px;
    height: 32px;
    margin-right: 18px;
}
.social_icons>a.odnoklas{background-position: left top;}
.social_icons>a.vk{background-position: -48px top;}
.social_icons>a.facebook{background-position: -96px top;}
.social_icons>a.instagram{background-position: -144px top;}
.social_icons>a.youtube{background-position: -192px top;}
.footer_mnu_item_wrapp,.catalog_mnu_items_wrapper,.subsribe{
    display: flex;
    flex-direction: column;
    padding-top: 31px;
}
.footer_logo_info,.subsribe{width: 29%;}
.information,.catalog{width: 20%;}
.subsribe,.information,.catalog{padding-top: 55px;}
._footer_mnu_item{
    font-family: Avenir Next Cyr;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--white-color);
}
._footer_mnu_item:hover{
    color: var(--yellow-color);
    transition: all 0.5s ease-out;
}
._name_article{
    font-family: Avenir Next Cyr;
    font-style: normal;
    font-weight: 750;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    padding-bottom: 31px;
}
input[type=email]{
    display: flex;
    align-items: center;
    width: 309px;
    height: 38px;
    background-color: var(--grown-color);
    border: none;
    padding: 0 0 0 21px;
    margin: 15px 0 23px 0;
}
input[type=submit]{
    transition: all 0.7s ease-out;
    cursor: pointer;
}
input[type=submit]:hover{
    background-color: var(--white-color);
    color: var(--green-color);
    transition: all 0.7s ease-out;
    font-weight: 650;
}
.content{display: flex;}
.content_wrapper{
    display: flex;
    width: 100%;
    justify-content: center;
    background: url(../img/border_sm.jpg)center center no-repeat;
    height: 200px;
    color: var(--white-color);
    align-items: center;
}
._section_name,.breadcrums,.about_bg_banner,
._our_benefits,._other_banner_wrapper,._popular_posts_wr{
    display: flex;
    justify-content: center;
}
.breadcrums{margin: 32px 0;}
._href_breadcums{
    color: var(--breadcums-color);
}
._href_breadcums.actived{
    color: var(--green-color);
}
.about_banner_wrapper{
    display: flex;
    width: 100%;
    height: 566px;
    background: url(../img/banner_about.jpg)top center no-repeat;
    position: relative;
}
._about_banner_info{
    display: flex;
    background-color: var(--white-color);
    color: var(--green-color);
    width: 760px;
    height: 154px;
    justify-content: center;
    position: absolute;
    top: 380px;
    left: 36px;
}
.__about_info_wrapper{
    display: flex;
    flex-direction: column;
    padding: 35px 51px 23px 42px;
    justify-content: space-around;
}
.__info_text,.__info_text_blockquote{
    display: flex;
    width: 100%;
    font-family: Avenir Next Cyr;
    font-style: italic;
    font-weight: normal;
    font-size: 32px;
    line-height: 39px;
    justify-content: center;
    text-decoration-line: underline;
    color: #80A05D;
}
.__info_text_blockquote{
    justify-content: right;
    text-decoration-line: none;
    flex-direction: row-reverse;
}
._our_shop{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 98px;   
}
._our_shop_text_wrapper{
    display: flex;
    justify-content: center;
    color: var(--black-color);
    font-family: Avenir Next Cyr;
    font-style: normal;
    font-weight: normal;
    flex-direction: column;
    align-items: center;
}
._welcome_shop{
    display: flex;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin-bottom: 24px;
}
._about_text_shop{
    font-size: 16px;
    line-height: 20px;
    width: 82%;
}
._our_benefits_wrapper{
    display: flex;
    width: 84%;
    margin-top: 51px;
    justify-content: space-between;
}
.benefit__item{
    display: flex;
    width: 310px;
    flex-direction: column;
    align-items: center;
}
.benefit__img_1,.benefit__img_2,.benefit__img_3{
    display: block;
    width: 310px;
    height: 140px;
    background: url(../img/benefit1.jpg)center center no-repeat;
}
.benefit__img_2{background: url(../img/benefit2.jpg)center center no-repeat;}
.benefit__img_3{background: url(../img/benefit3.jpg)center center no-repeat;}
.benefit__descr{
    width: 88%;
    font-family: Avenir Next Cyr;
    font-style: normal;
    font-weight: 450;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-transform: uppercase;
    color: var(--descr-color);
    margin: 24px 0 174px 0;
}
._other_banner_wrapper{
    display: flex;
    width: 100%;
    height: 450px;
    background: url(../img/border_bg.jpg)center center no-repeat;
    color: var(--white-color);
    align-items: center;
}
._other_banner_text_wr{
    display: flex;
    justify-content: center;
    width: 100%;
}
._other_banner_text_wrapper{
    display: flex;
    justify-content: center;
    width: 80%;
    flex-direction: column;
    align-items: center;
}
._other_banner_text{
    font-family: Avenir Next Cyr;
    font-style: italic;
    font-weight: normal;
    font-size: 40px;
    line-height: 49px;
}
._name_author{
    display: flex;
    width: 162px;
    height: 30px;
    justify-content: center;
    align-items: center;
    background: var(--black-color);
    margin-top: 44px;  
    font-family: Avenir Next Cyr;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
}
._popular_posts{
    display: flex;
    justify-content: center;
    width: 100%;
}
._post_name{
    display: flex;
    justify-content: center;
    font-family: Avenir Next Cyr;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: var(--breadcums-color);
    margin: 100px 0 56px 0;
}
._post_items_wr{
    display: flex;
    justify-content: center;
    width: 100%;
}
._post_item{
    display: flex;
    width: 100%;
}

.popular_posts_items{
    display: flex;
    justify-content: space-between;
}
._posts_img{
    display: block;
    width: 98%;
    height: 320px;
    background: url(../img/post_img_1.jpg)center center no-repeat;
}
.p_img_2{background: url(../img/post_img_2.jpg)center center no-repeat;}
.popular_posts_items_wrapper{
    display: flex;
    width: 50%;
    flex-direction: column;
}
._posts_text_wr{
    display: flex;
    flex-direction: column;
    width: 90%;
}
._posts_date_wrapp{
    display: flex;
    width: 130px;
    height: 123px;
    align-items: center;
    position: relative;
    margin-right: 29px;
}
.day{
    display: flex;
    font-family: Avenir Next Cyr;
    font-style: normal;
    font-weight: 750;
    font-size: 100px;
    line-height: 123px;
    color: var(--banner-border-color);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.mounth,.year{
    display: flex;
    width: 100%;
    color: var(--green-color);
    font-family: Avenir Next Cyr;
    font-style: normal;
    font-weight: 750;
    font-size: 20px;
    line-height: 25px;
    align-items: center;
    text-transform: uppercase;
    z-index: 1;
    justify-content: center;
}
.year{
    flex-direction: row-reverse;
    top: 100px;
    left: 15px;
    position: absolute;
}
._posts_text{
    font-family: Avenir Next Cyr;
    font-style: normal;
    font-weight: 750;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: center;
    color: var(--breadcums-color);
}
._posts_descr{
    display: flex;
    font-family: Avenir Next Cyr;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: var(--breadcums-color);
    margin-top: 24px;
}
.__services,.__services_wr{
    display: flex;
    justify-content: center;
}
.__services_wrapper{display: flex;}
._services_content_wr{
    display: flex;
    flex-direction: column;
    width: 72%;
}
.__services_list{
    display: flex;
    width: 24.5%;
    margin-right: 1.71%;  
}
._services_name{
    font-family: Avenir Next Cyr;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 39px;
    color: var(--breadcums-color);
}
._services_item{
    font-family: Avenir Next Cyr;
    font-style: normal;
    font-weight: 450;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: var(--breadcums-color);
}
._services_descr{margin: 24px 0 17px 0;}
._services_price_name,._services_descr,._service_suport_text{
    font-family: Avenir Next Cyr;
    font-style: normal;
    font-weight: 750;
    font-size: 20px;
    line-height: 25px;
    color: var(--breadcums-color);
}
._services_price_name{margin: 32px 0 30px 0;}
._service_suport_text{margin: 35px 0 54px 0;}
._services_item_wrapper,.__services_item{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.__item_wr{
    display: flex;
    justify-content: space-between;
}
.__item__{
    display: flex;
    width: 32%;
    height: 190px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
._services_item_name{
    font-family: Avenir Next Cyr;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 39px;
    color: var(--breadcums-color);
    margin: 32px 0 24px 0;
}
._services_items_list{
    font-family: Avenir Next Cyr;
    font-style: normal;
    font-weight: 450;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: var(--breadcums-color);
    word-break: break-word;
}
._services_items_list_more{
    font-family: Avenir Next Cyr;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: var(--breadcums-color);
}
.__item__:hover>a,.__item__:hover>.__item_border{display: flex;}
.__item__:hover>.__item_img{transform: scale(1.05);}
.__item_border{
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: 0.5s;
}
.__item_img{
    display: flex;
    width: 100%;
    height: 100%;
    transition: 0.4s;
    z-index: 1;
    
}
._img_1{background: url(../img/services_item/item_1.jpg);}
._img_2{background: url(../img/services_item/item_2.jpg);}
._img_3{background: url(../img/services_item/item_3.jpg);}
._img_4{background: url(../img/services_item/item_4.jpg);}
._img_5{background: url(../img/services_item/item_5.jpg);}
._img_6{background: url(../img/services_item/item_6.jpg);}
._img_7{background: url(../img/services_item/item_7.jpg);}
._img_8{background: url(../img/services_item/item_8.jpg);}
._img_9{background: url(../img/services_item/item_9.jpg);}
._img_10{background: url(../img/services_item/item_10.jpg);}
._img_11{background: url(../img/services_item/item_11.jpg);}
._img_12{background: url(../img/services_item/item_12.jpg);}
._img_13{background: url(../img/services_item/item_13.jpg);}
._img_14{background: url(../img/services_item/item_14.jpg);}
._img_15{background: url(../img/services_item/item_15.jpg);}
._img_16{background: url(../img/services_item/item_16.jpg);}
._img_17{background: url(../img/services_item/item_17.jpg);}
._img_18{background: url(../img/services_item/item_18.jpg);}
a.circle{
    display: none;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid var(--green-color);
    position: absolute;
    top: 56px;
    left: 100px;
    z-index: 1;
    color: var(--green-color);
}
th,td{
    border-bottom: 1px solid var(--separ-color);
    border-right: 1px solid var(--separ-color);
}
._services_items_list_more_wr{margin-left: 32px;}

/* section comment style */
.__comments,.__describe{
    display: flex;
    justify-content: center;
}
.__comments_wrapper{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.__commments_item{
    display: flex;
    width: 28%;
    margin-bottom: 80px;
}
.__comments_item_wr{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.__comment_data{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 27px;
    font-family: Avenir Next Cyr;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: var(--white-color);
    background-color: var(--green-color);
}
.__comment_author{
    font-family: Avenir Next Cyr;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    color: var(--comment-author-color);
    margin: 36px 0 20px 0;
}
.__comment_text{
    font-family: Avenir Next Cyr;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--descr-color);
}
/* section decribe style */
.__describe_name_item{
    display: flex;
    width: 100%;
    margin-bottom: 32px;
    font-family: Avenir Next Cyr;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 39px;
    color: var(--breadcums-color);
}
._method_item_name{
    font-family: Avenir Next Cyr;
    font-style: normal;
    font-weight: 750;
    font-size: 20px;
    line-height: 25px;
    color: var(--breadcums-color);
    margin-bottom: 17px;
}
._method_item_descr{
    font-family: Avenir Next Cyr;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: var(--black-color);
}
.__method_describe{
    display: flex;
    width: 100%;
}
.__method_describe_wrapper,.__method_describe_item,
._method_pay_item,.__region_describe,.__region_describe_item{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.__method_describe_item_wr,
.__method_pay_wr,._region_describe_wrapper{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 32px 0;
}
.__method_describe_item,
._method_pay_item,
.__region_describe_item{width: 31%;}

/* page posts style */

.__posts{
    display: flex;
    justify-content: center;
}
.__posts_wr{
    display: flex;
    flex-direction: column;
}   
/* page fotogallery style */
.__gallery{
    display: flex;
    justify-content: center;
}
._gallery_wrapper{
    display: flex;
    justify-content: space-between;
}
._gallery_item_input_wr{
    display: flex;
    flex-direction: column;
    padding-left: 27px;
    height: 267px;
    justify-content: space-around;
}
._gallery_item{
    font-family: Avenir Next Cyr;
    font-style: normal;
    font-weight: 450;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: var(--breadcums-color);
}
._gallery_wrapper >.__services_list_item_wr{
    display: flex;
    width: 81%;
}
._gallery_wrapper .__item_wr{margin-bottom: 32px;}
._gallery_wrapper .__item_wr .__item__{height: 192px;   }
._gallery_wrapper .__item_wr .__item__ a.circle{left:115px;}

/* page partners style */
.__partners{
    display: flex;
    justify-content: center;
}
.__partners_wrapp{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
p._partners_text_wr{
    margin-block-start: 1em;
    margin-block-end: 1em;
}
._partners_text_wr{
    font-family: Avenir Next Cyr;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: var(--black-color);
}
._partners_img_wr{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 8px;
}
._partners_item_wr{
    display: flex;
    width: 19%;
    height: 100px;
    border: 1px solid var(--green-color);
    justify-content: center;
    align-items: center;
    margin-top: 32px;
}
.partners_item_img{
    display: flex;
    width: 183px;
    height: 52px;
    background: var(--grown-color) url(../img/partners.jpg) center center no-repeat;
}

/* page partners style */


.__contacts{
    display: flex;
    justify-content: center;
    position: relative;
}
.__contacts_wrapp{
    display: flex;
    flex-direction: column;
}
._contacts_img_wrapp{
    display: flex;
    width: 100%;
}
._contacts_img{
    display: flex;
    width: 100%;
    height: 483px;
    background: url(../img/contacts_img_bg.jpg) top center no-repeat;
    margin-bottom: 129px;
    
}
._contacts_banner{
    display: flex;
    width: 990px;
    height: 197px;
    background-color: var(--white-color);
    position: absolute;
    top: 336px;
    left: 155px;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px -2px 32px rgba(43, 43, 43, 0.08);
}
._contact_info_item{
    display: flex;
    flex-direction: column;
}
._contacts_numbers{
    font-family: Avenir Next Cyr;
    font-style: normal;
    font-weight: 750;
    font-size: 18px;
    line-height: 32px;
    color: var(--black-color);
}
._contacts_text{
    font-family: Avenir Next Cyr;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: var(--black-color);
}
._contact_info_item{
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
    justify-content: space-between;
}
._contacts_ic_email{
    display: flex;
    width: 40px;
    height: 35px;
    background: url(../img/icons/email_bg.svg)center center no-repeat;
    margin-bottom: 27.31px;
}
._contacts_ic_phone{
    display: flex;
    width: 40px;
    height: 40px;
    background: url(../img/icons/phone_bg.svg)center center no-repeat;
    margin: 32px 0 19px 0;
}
._contacts_ic_marker{
    display: flex;
    width: 32px;
    height: 40px;
    background: url(../img/icons/pin.svg)center center no-repeat;
    margin-bottom: 22px;
}
._contacts_form_wrapp{
    display: flex;
    width: 48%;
    flex-direction: column;
}
._contact_form_name{
    width: 100%;
    font-family: Avenir Next Cyr;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 39px;
    color: var(--breadcums-color);
    text-align: center;
}
._contact_form_descr{
    font-family: Avenir Next Cyr;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: var(--black-color);
    margin: 32px 0;
}
._contact_form{
    display: flex;
    flex-direction: column;
    margin-bottom: 109px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
input[type="text"]{
    display: flex;
    width: 420px;
    height: 40px;
    background-color: var(--input-color);
    border: none;
    text-align: center;
    margin: 16px 0 48px 0;
}
label{
    font-family: Avenir Next Cyr;
    font-style: normal;
    font-weight: 750;
    font-size: 20px;
    line-height: 25px;
    color: var(--black-color);
}
textarea{
    width: 420px;
    height: 97px;
    background-color: var(--input-color);
    border: none;
    margin: 16px 0 41px 0;
}
input[type="submit"]._form_btn,._btn_catalog{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
    background-color: var(--green-color);
    color: var(--white-color);
    border: none;
    font-family: Avenir Next Cyr;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    cursor: pointer;
}

/* page 404 style */
.__404{
    display: flex;
    justify-content: center;
}
.__404_wrapp{
    display: flex;
    flex-direction: column;
    align-items: center;
}
._404_text{
    display: flex;
    color: var(--green-color);
    margin: 5px 0 69px 0;
    width: 336px;
    height: 112px;
    background: url(../img/404.svg)center center no-repeat;
}
._404_descr{
    font-family: Avenir Next Cyr;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 64px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: var(--breadcums-color);
    margin-bottom: 102px;
}
._back_home{
    font-family: Avenir Next Cyr;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 64px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-decoration: underline;
    color: var(--green-color);
}
._404_nav_mnu{
    display: flex;
    margin-bottom: 100px;
}
._404_nav_mnu_w{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
._back_href{
    font-family: Avenir Next Cyr;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--descr-color);
}
._back_href:hover{
    transition: 0.2s all ease-out;
    color: var(--green-color);
}
._btn_catalog{
    width: 309px;
    height: 56px;
}

/* page 404 style */

/* page catalog style */
._catalog_item_wrapper{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}
._catalog_item{
    display: flex;
    width: 244px;
    height: 244px;
    flex-direction: column;
    position: relative;
    align-items: center;
    margin-bottom: 68px;
}
.catalog_item_img{
    display: flex;
    width: inherit;
    height: inherit;
}
._catalog_item_1{background: url(../img/9.jpg)center center no-repeat;}
._catalog_item_2{background: url(../img/1.jpg)center center no-repeat;}
._catalog_item_3{background: url(../img/18.jpg)center center no-repeat;}
._catalog_item_4{background: url(../img/2.jpg)center center no-repeat;}
._catalog_item_5{background: url(../img/3.jpg)center center no-repeat;}
._catalog_item_6{background: url(../img/4.jpg)center center no-repeat;}
._catalog_item_7{background: url(../img/6.jpg)center center no-repeat;}
._catalog_item_8{background: url(../img/7.jpg)center center no-repeat;}
._catalog_item_9{background: url(../img/5.jpg)center center no-repeat;}
._catalog_item_name_wr,._catalog_item_name_wr_more{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 80%;
    height: 56px;
    justify-content: center;
    top: 215px;
    left: 26px;
    background: var(--black-color);
    color: var(--white-color);
    cursor:pointer;
    font-family: Avenir Next Cyr;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}
._catalog_item_name_wr_more{height: 85px;}
._catalog_item_numbers{
    font-family: Avenir Next Cyr;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
}
._catalog_item_name_wr:hover{
    background: var(--green-color);
    transition: 0.3s all ease-out;
}
._catalog_item > span._catalog_item_name_wr:last-child{height: 85px;}
._catalog_item_name{
    width: 90%;
    text-align: center;
}
._catalog_text_descr_wrapp{margin: 32px 0 72px 0;}
._catalog_text_descr{
    width: 80%;
    font-family: Avenir Next Cyr;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: var(--breadcums-color);
    text-align: center;
    
}